/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, head, h1, h2, h3, h4, h5, h6, p, span, div, a, img,
ul, li, label, textarea, table, article, button,
figure, figcaption, footer, header, hgroup, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #555555;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #b48484;
  border-bottom: 1px solid #baac9a;
  height: 50px;
  margin-bottom: 16px;
}

.header-nav {
  width: 1000px;
  margin: auto;
}

.header-logo {
  padding: 13px 20px;
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.header-list {
  float: right;
}

.main {
  margin: auto;
  width: 1000px;

}

form > h1 {
  font-size: 25px;
}

.login-form {
  position: relative;
  border: 1px solid #b48484;
  background: #baac9a;
  display: block;
  margin: auto;
  padding: 100px;
  width: 300px;
}

.login-button-container {
  margin: auto;
}

.login-button {
  margin: auto;
  width: 100px;
  /*padding: 10px 20px;*/
  font-weight: bold;
  background: #382110;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 13px
  padding-top: 7px;
  height: 28px;
}

.login-fields {
  margin: auto;
  width: 250px;
  padding-top: 10px;
  background: yellow;
}

.logo-link:hover {
  text-decoration: none;
}
