/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
  colors:
    #f4f1ea (linen)
    #baac9a
    #B49284
    #b48484
    #382110
    #fffff7
    #554130
 */

body, head, h1, h2, h3, h4, h5, h6, p, span, div, a, img,
ul, li, label, textarea, table, article, button,
figure, figcaption, footer, header, hgroup, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-weight: 200;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #555555;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #f4f1ea;
  border-bottom: 1px solid #baac9a;
  height: 44px;
}

.header-nav {
  width: 1000px;
  margin: auto;
  color: #554130;
}

.header-logo {
  padding: 2px 20px;
  font-size: 30px;
  float: left;
}

.header-logo-left {
  font-weight: 100;
}

.header-list {
  float: right;
}

.header-session-nav {
  padding: 10px;
  float: right;
}

.header-session-button {
  padding: 10px;
  border-radius: 4px;
}

.header-session-button:hover {
  text-decoration: none;
  background: #C7C1B3;
}

.main {
  margin: auto;
  width: 1000px;
  padding-top: 16px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #baac9a;
}

form > h1 {
  font-size: 25px;
}

form > a {
  color: black;
}

.login-form {
  position: relative;
  text-align: center;
  background: transparent;
  display: block;
  margin: auto;
  padding: 120px;
  width: 300px;
  border-radius: 10px;
}

.login-button-container {
  margin: auto;
}

.login-button {
  margin: auto;
  width: 100px;
  background: #382110;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 13px;
  height: 28px;
  cursor: pointer;
}

.login-button:hover {
  background: #554130;
}

.login-fields {
  margin: auto;
  width: 250px;
  padding-top: 10px;
}

.logo-link:hover {
  text-decoration: none;
}

.gradient {
  background-image:
    radial-gradient(
      circle,
      white,
      #baac9a 55%
    );
}

.dashboard-left {
  float: left;
  text-align: center;
}

.sidebar-main {
  float: right;
  padding: 10px;
}

.sidebar-main a {
  color: black;
}

.shelf-index {
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
