.book-show {
  padding: 10px;
  width: 880px;
}

img {
  width: 100%;
  height: auto;
}

.book-show-title {
  font-size: 20px;
}

.book-detail {
  width: 690px;
}

.book-details {
  padding: 20px;
  width: 500px;
  font-size: 14px;
}

.book-description {
  font-size: 12px;
}

.book-show-header-buttons {

}

.book-cover {
  width: 150px;
}

.add-book-button {
  /*margin: auto;*/
  margin-top: 4px;
  background: #409d69;
  width: 120px;
  height: 28px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: lighter;
  cursor: pointer;
}

.add-book-button:hover {
  background: #00985E;
}

.book-status-buttons {

}
