.small-button {
  margin: auto;
  background: #68614f;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 10px;
  height: 20px;
  cursor: pointer;
}

.small-button:hover {
  background: #554130;
}

.login-button {
  margin: auto;
  width: 60px;
  background: #68614f;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 8px;
  height: 18px;
  cursor: pointer;
  text-align: center;
}

.book-button {
  margin: auto;
  background: #68614f;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 10px;
  height: 20px;
  width: 80px;
  cursor: pointer;
  text-align: center;
}

.login-button:hover, .signup-button:hover {
  background: #554130;
}

.header-nav-button {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  margin: 6px 2px 6px 2px;
  border-radius: 12px;
}

.header-nav-button:hover {
  background: #DDDCC7;
  text-decoration: none;
  opacity: 0.75;
}
