.header {
  background-color: #f4f1ea;
  border-bottom: 1px solid #baac9a;
  height: 48px;
}

.header-nav {
  width: 1000px;
  margin: auto;
  color: #554130;
}

.header-logo {
  padding: 2px 20px;
  font-size: 30px;
  float: left;
  font-weight: 100;
}

.header-logo-link:hover {
  text-decoration: none;
}

.header-list {
  float: right;
}

.header-nav-login {
  float: right;
  /*border: 1px solid black;*/
  text-decoration: none;
  width: 420px;
  padding: 10px;
}

.header-logo-right {
  font-weight: 300;
}

.greeting {
  display: inline;
  /*margin: 2px;*/
  /*border: 1px solid black;*/
}

.logout-button-container {
  float: right;
}

.greeting-div {
  float: right;
  padding: 10px;
  height: 20px
  margin: 3px;
}
