.header {
  background-color: #f4f1ea;
  border-bottom: 1px solid #baac9a;
  height: 50px;
}

.header-nav {
  width: 900px;
  margin: auto;
  color: #554130;
}

.header-logo {
  padding: 5px 20px;
  font-size: 30px;
  font-weight: 100;
  width: 155px;
  height: 40px;
}

.header-logo > a {
  color: #554130;
}

.header-logo-link:hover {
  text-decoration: none;
}

.header-list {
  float: right;
}

.header-nav-login {
  float: right;
  /*border: 1px solid black;*/
  text-decoration: none;
  width: 420px;
  padding: 10px;
}

.header-logo-right {
  font-weight: 300;
}

.greeting {
  /*display: inline;*/
  /*margin: 2px;*/
  margin-top: 4px;
  /*border: 1px solid black;*/
}

.logout-button-container {
}

.greeting-div {
  float: right;
  padding: 10px;

}
