.login-form {
  position: relative;
  text-align: center;
  background: transparent;
  display: block;
  margin: auto;
}

.login-button-container {
  margin: auto;
  float: right;
}

.login-form-el {
  float: left;
  padding: 2px;
  font-size: 10px;
}

.header-input {
  font-size: 10px
}

.login-button {
  margin: auto;
  width: 60px;
  background: #382110;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 8px;
  height: 18px;
  cursor: pointer;
}

.login-button:hover, signup-button:hover {
  background: #554130;
}

.login-fields {
  margin: auto;
  width: 350px;
  float: left;
}

.login-errors-div {
  margin: auto;
  text-align: center;
  font-size: 10px;
  display: block;
  padding-bottom: 1px;
}

.login-errors-ul {

}
