.shelf-select {
  height: 100px;
  /*border:*/
}

/* General */

.modal-header {
  text-align: center;
}

/* Form */

.modal-form {
  padding: 10px;
}

.modal-form > input, textarea {
  box-sizing: border-box;
}

.modal-close {
  font-weight: bold;
}

.modal-close:hover {
  color: #409d69;
  cursor: pointer;
}

.modal-form-field {
  padding: 2px;
}

.modal-form-input {
  border: 1px solid #555555;
  border-radius: 2px;
}

.modal-book-title {
  margin-left: 97px;
}

.modal-shelf-title {
  margin-left: 49.5px;
}

.modal-textarea {
  width: 129px;
}
