.shelf-index-left {
  border-right: 1px solid black;
  float: left;
  width: 160px;
  margin: 0 10px 10px 10px;
}

.shelf-index {
  /*border-left: 1px solid black;*/
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #555555;
  font-weight: bolder;
}

.shelf-index {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #555555;
  font-weight: bolder;
}

.shelf-index a {
  text-transform: none;
  font-size: 12px;
  color: black;
}
