.shelf-detail {
  border: 1px solid black;
  float: right;
  padding: 20px;
  width: 704px;
  min-height: 400px;
  color: #555555;
}

.shelf-detail-title {
  font-size: 20px;
  display: inline;
}

.shelf-description {
  margin: 20px;
  padding-left: 2em;
  text-indent: -2em;
}

.shelf-detail ul {
  margin: 20px;
}

.shelf-detail a {
  color: black;
}

.update-delete-shelf {
  display: inline;
  float: right;
  padding: 1px;
  border: none;
}

.shelf-button {
  margin: auto;
  background: #382110;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 8px;
  height: 18px;
  cursor: pointer;
}
