.sidebar-main {
  width: 160px;
  margin: 0 10px 10px 10px;
  border-left: 1px solid black;
}

.sidebar-main a {
  color: black;
}

.sidebar-add-book {
  margin: 10px;
  border: 2px solid black;
}

.status-index {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.sidebar-new-shelf-button {
  color: black;
  font-size: 12px;
  cursor: pointer;
}

.sidebar-new-shelf-button:hover {
  text-decoration: underline;
}
