.signup-button {
  margin: auto;
  width: 60px;
  background: #382110;
  border: none;
  border-radius: 3px;
  color: #fffff7;
  font-size: 10px;
  height: 20px;
  cursor: pointer;
}

.main form {
  float: right;
  margin: auto;
  text-align: center;
  border: 1px solid black;
}
