<!DOCTYPE html>
<html>
<head>
  <title>ShouldReads</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-bbw&key=AIzaSyB0KVi7_ciJbBdMkHaTmC5qFLePxyJ3iQQ" type="text/javascript"></script>
<%= yield %>
</body>
</html>
